.App {
  text-align: center;
}
//Header css->
.header{
  display:flex;
  width:100%;
  height:70px;
  background-color: #45a8a2;
  .nav{
    flex:70%;
    align-self: center;
    color: white;
    font-size: 19px;
    font-size: 28px;
    
  }

 
  .login{
    flex:30%;
    display:flex;
    .btn{
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 30px;
    color: #006363;
    background: #dee8b9;
    font-size: 14px;
    border-radius: 5px;
    margin: auto;
    }
    .btn:hover{
      cursor: pointer;
    }
  }
}
//Header Css End

.date-picker{
  
    .btn:hover{
      cursor: pointer;
    }
  
}
//Footer css 
.Footer{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  height:30%;
  background-color: #45a8a2;
  margin-top:3%;

  p{
    font-size: 20px;
    color:white;
  }
}

//Footer CSS End
//Product rendering  CSS
.product{
  flex:70%;
  margin-top: 4%;
  overflow: auto;
  border: 2px solid black;
  position: relative;
  background: beige;
    div{ 
      width: 33%;
    float: left;
   
    height: 135px;
  img{
    width: 82%;
    // background-color: blue;
    flex-wrap: wrap;
    padding: 10px;
    height: 100px;

  }
  p{
    background: #45a8a2;
    // background: white;
    margin-top: -1.5%;
    position: absolute;
    margin-left: 3%;
    width: 27%;
    height:8%;
    border-radius:50%;
    

  }
  p:hover{
    cursor: pointer;
  }
    }
}
//Product CSS rendering End-->
//Before rendering post css
.loading{
flex:70%;
align-self: center;
font-weight: 700;
}
//End
//Right most section CSS for Liked product by user
.likesection{
  overflow-x:hidden;
  flex:30%;
  background-color: #c9cf78;
  overflow:auto;
  margin-left: 1%;
  margin-top: 1%;
  p{
    color: darkolivegreen;
    font-style: oblique;
    font-size: 18px;
    font-weight: 700;
  };
  div{
    
    img{
      width: 60%;
      height: 86px;
      border: 4px solid #a1a754;
      background: antiquewhite;
    }
  }
}
//Right most section CSS for Liked product by user End
.wrap{
  display: flex;
  height: 400px;
}
.date-picker{
  flex:30%;
 
  p{
    font-size:18px;
    font-weight: 700;
  }
  button{
    border: 2px solid cadetblue;
    margin-top: 8%;
    height: 10%;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    :hover{
      cursor: pointer;
    }
  }
}
//React Calender css
.react-calendar{
  overflow: auto;
  height: 247%;
  button{
    height: 35px !important;
    }
}
//End

.date-detector{
  padding: 12%;
  height: 30%;
}

.likebtn{
  border-radius: 50%;
}
.noproduct{
  font-size: 22px;
  color: darkblue;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
//zoom the liked secion image
.zoom {
   padding: 5px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
//Respnsive design  start-->
@media screen and (max-width: 360px){
  .date-detector .react-calendar{
  margin-left: 2% !important;
}
}
@media screen and (max-width: 924px){
  .likesection {
    margin-top: 5%;}
  .wrap{
    flex-direction: column;
    height: 1000px;
  }
  .date-picker{
    .btn{
      padding: 7%;
    }
  }
  .date-detector{
    height: 42% ;
    padding:0px;
  .react-calendar{
    margin-left: 9%;
    height: 188%;
    border: 6px solid cadetblue;
    margin-top: 9px;

  };

}
.product div p {
height: 5%;
}

.header .login .btn{
  width:41%;
}

}

@media screen and (max-width: 375px){
  .date-detector .react-calendar{
  margin-left: 3% !important;
}
}

@media screen and (max-width: 768px){
  .date-detector .react-calendar{
  margin-left: 3% !important;
}
}
//Responsie design End-->